<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Coronavirus Tracker Application</h1>
        <p class="lead">This application lists the current number of cases reported across the globe</p>
        <hr class="my-4">
        <div class="row">
            <div class="col-lg-6 col-12">
                <p class="lead"> Total cases reported as of today: <strong th:text="${totalReportedCases}"></strong></p>
            </div>
            <div class="col-lg-6 col-12">
                <p class="lead"> New cases reported since previous day: <strong th:text="${totalNewCases}"></strong></p>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">State</th>
                    <th scope="col">Country</th>
                    <th scope="col">Total cases reported</th>
                    <th scope="col">Change since last day</th>
                </tr>
                </thead>
                <tbody id="myTable">
                <tr scope="row" th:each="locationStat : ${locationStats}">
                    <td th:text="${locationStat.state}"></td>
                    <td th:text="${locationStat.country}"></td>
                    <td th:text="${locationStat.latestTotalCases}">0</td>
                    <td th:text="${locationStat.diffFromPrevDay}">0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>


</html>
